<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net461" />
  <package id="DnsClient" version="1.2.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="4.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.1.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.10.2" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.10.2" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.10.2" targetFramework="net461" />
  <package id="MongoDB.Libmongocrypt" version="1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="SharpCompress" version="0.23.0" targetFramework="net461" />
  <package id="Snappy.NET" version="1.1.1.8" targetFramework="net461" />
  <package id="Swashbuckle" version="5.6.0" targetFramework="net461" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net461" />
</packages>